header {
  font-family: Roboto;
}
html, body, main {
  height: 90%;
}
#map {
  height: 90%;
  margin: auto;
}
#universities, #stops {
  height: 80%;
  font-size: 0.8rem;
}
.center {
  margin: auto;
  width: 80%;
  padding: 0px;
  border: 0px;
}