<!-- Header -->
  <header class="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary rounded-bottom">
      <a class="navbar-brand h1 lead" href="{{ url_for('index') }}">
        <img src="static/img/ic_directions_white_24dp_1x.png" alt="Icon for navbar">
        MBTAccess
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Interactive Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('universities') }}">University Ranking</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>