{% extends 'layout.html' %}
{% block content %}
  <!-- Search form -->
  <div class="p-1">
    <form class="form-inline" id="searchform">
      <fieldset id="searchbox">
        <input id="searchtxt" class="form-control" type="search" placeholder="Search for a stop" aria-label="Search">
      </fieldset>
      <button id="searchbtn" class="btn btn-primary my-1">Search</button>
    </form>
  </div>
  <!-- Map -->
  <div id="map"></div>
  <!-- Stops table -->
  <div class="container">
    <div class="table-responsive" id="stops-table"></div>
  </div>
{% endblock %}
{% block script %}
  <script defer src="static/js/google-maps.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&callback=initMap"></script>
{% endblock %}
